/* GERAL */

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: "Lilita One", sans-serif;
}

main{
    width: 100dvw;
    height: 100dvh;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* NAV */

.nav{
    width: 400px;
    height: 40px;
    display: flex;
    z-index: 3;
    margin-bottom: 540px;
}

.nav div:first-child{
    background-color: rgb(110, 110, 110);
    width: 100px;
    height: 40px;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
}

.nav div:last-child{
    background-color: rgb(77, 77, 77);
    width: 100px;
    height: 40px;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
}

/* CAIXAS */

.boxCalc, .boxDrop{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.boxDrop{
    display: none;
}

.abalateral{
    width: 40px;
    height: 100px;
    border-radius: 0px 15px 15px 0px;
    background-color: rgb(77, 77, 77);
    align-self: flex-start;
    margin-left: 440px;
    z-index: 3;
    cursor: pointer;
}

/* CALC - CONTEÚDO ESQUERDA */

.boxLeft{
    height: 500px;
    width: 400px;
    background-color: rgb(110, 110, 110);
    position: absolute;
    z-index: 2;
    box-shadow: 5px 0px 10px #30303056;
}

.boxLeft img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.boxLeft button{
    display: flex;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

/* CALC - CONTEÚDO ESQUERDA - SUPERIOR */

.superior{ 
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
}

.upgrade, .atual{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upgradeComp, .atualComp {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upgradeComp p, .atualComp p{
    width: 120px;
    height: 25px;
    margin: 0 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
}

/* CALC - CONTEÚDO ESQUERDA - INFERIOR */

.inferior{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.pp, .gold{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#goldtxt, #pptxt{
    width: 120px;
    height: 25px;
    margin: 10px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
}

/* CALC - CONTEÚDO DIREITA */

.boxRight{
    height: 500px;
    width: 400px;
    background-color: rgb(77, 77, 77);
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.boxRight .imagemHiper{
    height: 60px;
    width: 50px;
}

.boxRight img{
    height: 60px;
    width: 60px;
    margin: 0 5px;
    cursor: pointer;
}

.poderestrela{
    display: flex;
    flex-direction: row;
}

.boxRight .esquerda, .boxRight .direita{
    height: 100%;
    width: 50%;
}

.icons{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.boxRight button{
    display: flex;
    border: none;
    background: transparent;
    filter: brightness(0.5);
}

.boxRight button.active{
    filter: brightness(1);
}



.drops{
    height: 20%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toma1{
    background-image: url("assets/backgroundDropVerde.jpeg"); 
    filter: brightness(0.5);
}

#toma2{
    background-image: url("assets/backgroundDropAzul.jpeg"); 
    filter: brightness(0.5);

}

#toma3{
    background-image: url("assets/backgroundDropRoxo.jpeg"); 
    filter: brightness(0.5);

}

#toma4{
    background-image: url("assets/backgroundDropVermelho.jpeg"); 
    filter: brightness(0.5);

}

#toma5{
    background-image: url("assets/backgroundDropAmarelo.jpeg"); 
}

.drops img{
    height: 70px;
    width: 70px;
}