/* GERAL */

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: "Lilita One", sans-serif;
}

body {
    position: relative;
    margin: 0;
    height: 100vh; 
    overflow: hidden;
}
  
body::before {
    content: '';
    position: absolute;
    top: -10px; 
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-image: url('assets/brawlbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(6px) brightness(0.7);
    z-index: -1;
}  

main{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* NAV */

.nav{
    width: 400px;
    height: 55px;
    display: flex;
    margin-bottom: 555px;
    position: relative;
}

.nav #page1, .nav #page2{
    width: 100px;
    height: 40px;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav p{
    color: white;
    text-shadow: 
        -1.5px -1.5px 0 #000, 
        1.5px -1.5px 0 #000,  
        -1.5px 1.5px 0 #000, 
        1.5px 1.5px 0 #000; 
    font-size: 22px;
}

.nav .linha{
    width: 400px;
    height: 15px;
    border-radius: 0px 5px 0px 0px;
    background-color: rgb(24, 67, 160);
    position: absolute;
    bottom: 0px;
}

.pageAtivo {
    background-color: rgb(24, 67, 160);
    z-index: 3;
    box-shadow: none;
}

.pageDesativo {
    background-color: rgb(22, 53, 121);
    z-index: 1;
    box-shadow: inset 0px -10px 10px -10px #30303056;
}

/* CAIXAS */

.boxCalc, .boxDrop{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

.boxDrop{
    display: none;
}

.abalateralCalc{
    width: 50px;
    height: 100px;
    border-radius: 0px 15px 15px 0px;
    background-color: rgb(18, 44, 100);
    align-self: flex-start;
    margin-left: 440px;
    cursor: pointer;
}

/* CALC - CONTEÚDO ESQUERDA */

.boxLeft{
    height: 500px;
    width: 400px;
    background-image:
        linear-gradient(rgba(24, 79, 197, 0.699), rgba(19, 56, 136, 0.699)),
        url("assets/image.png");
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: 2;
    box-shadow: 
        15px 0px 10px -10px #30303056,
        inset 0px 10px 8px -8px #303030cb;
}

.boxLeft img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.boxLeft button{
    display: flex;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.boxCalc p{
    color: white;
    text-shadow: 
        -1.5px -1.5px 0 #000, 
        1.5px -1.5px 0 #000,  
        -1.5px 1.5px 0 #000, 
        1.5px 1.5px 0 #000; 
}

/* CALC - CONTEÚDO ESQUERDA - SUPERIOR */

.tituloCalc{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloCalc h1{
    color: white;
    text-shadow: 
        -2.5px -2.5px 0 #000, 
        2.5px -2.5px 0 #000,  
        -2.5px 2.5px 0 #000, 
        2.5px 2.5px 0 #000;
    font-size: 45px;
    z-index: 2;
}

.superior{ 
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
}

.upgrade, .atual{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upgradeComp, .atualComp{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#atualtxt, #upgradetxt{
    width: 160px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-shadow: none;
    font-size: 26px;
    margin: 10px 10px;
    border-radius: 5px;
    text-align: center;
}

/* CALC - CONTEÚDO ESQUERDA - INFERIOR */

.inferior{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.pp, .gold{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.445);
}

.top{
    width: 140px;
    display: flex;
    background-color: #ce9719;
    position: relative;
    justify-content: end;
    position: absolute;
    left: 5px;
    top: -18px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.445);
}

.pp .top{
    background-color: #ca25a6;
}

.top img{
    width: 50px;
    height: 50px;
    border-radius: 525px;
    position: absolute;
    top: -8px;
    left: -1px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.445);
}

.pp img{
    width: 52px;
    left: -3px;
}

.inftxt{
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    z-index: 1;
    margin-right: 5px;
}

#goldtxt, #pptxt{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

#goldtxt{
    background-color: #fdb50c;
}

#pptxt{
    background-color: #FF0BCB;

}

/* CALC - CONTEÚDO DIREITA */

.boxRight{
    height: 500px;
    width: 400px;
    background-image:
        linear-gradient(rgba(17, 51, 126, 0.699), rgba(11, 34, 82, 0.699)),
        url("assets/image.png");
    background-position: center;
    background-size: contain;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.boxRight .imagemHiper{
    height: 70px;
    width: 60px;
}

.boxRight img{
    height: 65px;
    width: 65px;
    margin: 0 5px;
    cursor: pointer;
}

.boxRight button{
    display: flex;
    border: none;
    background: transparent;
    filter: brightness(0.5);
}

.boxRight button.active{
    filter: brightness(1);
}

.cima{
    height: 75%;
    display: flex;
}

.cima .esquerda, .cima .direita{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
}

.cima .esquerda{
    margin-left: 19px;
}

.cima .direita{
    margin-left: 2px;
}

.icons{
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda .icons{
    height: 100px;
    width: 170px;
    background-color: rgba(113, 158, 255, 0.233);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.329);
    border-radius: 15px;
    position: relative;
}

.esquerda .icons p{
    font-size: 24px;
    position: absolute;
    top: -15px;
}

.esquerda .icons:nth-child(1){
    background: linear-gradient(to right, #6b1881, #8a1139);
}

.esquerda .icons:nth-child(2){
    background-color:#b68d1d;
}

.esquerda .icons:nth-child(3){
    background-color:#1b9921;
}

.direita .caixinha{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 170px;
    background-color:#176baf;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.329);
    border-radius: 15px;
}

.direita .icons p{
    font-size: 24px;
    position: absolute;
    top: 24px;
}

.hiper{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiper .icons{
    height: 100px;
    width: 240px;
    background-color: #9f20a1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.329);
    border-radius: 15px;
    position: relative;

}

.hiper .icons p{
    font-size: 24px;
    position: absolute;
    top: -15px;
}

/* DROPS */

#Raro, #SuperRaro, #Epico, #Mitico, #Lendario{
    width: 50px;
    height: 100px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lateral img{
    width: 40px;
    height: 40px;
}

#Raro{
    background-color: #57bc72;
}

#SuperRaro{
    background-color: #4a7dcb;
}

#Epico{
    background-color: #994fce;
}

#Mitico{
    background-color: #ca4749;
}

#Lendario{
    background-color: #e0ae50;
}

.lateral{
    align-self: flex-start;
    margin-left: 440px; 
}

.dropAtivo{
    filter: brightness(1);
    box-shadow: none;
}

.dropDesativo{
    filter: brightness(0.5);
    box-shadow: inset 15px 0px 10px -10px #30303056;
}

#boxLeftDrop{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    box-shadow: none;
    background-image: url("assets/Raro.png");
    box-shadow: inset 0px 10px 8px -8px #303030cb;
}

#boxLeftDrop .titulo{
    height: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boxLeftDrop .titulo h2{
    font-size: 35px;
    color: white;
    text-shadow: 
        -1.5px -1.5px 0 #000,  
        1.5px -1.5px 0 #000,   
        -1.5px 1.5px 0 #000,  
        1.5px 1.5px 0 #000;  
}

#boxLeftDrop .titulo p{
    font-size: 18px;
    color: white;
    text-shadow: 
        -1.5px -1.5px 0 #000,  
        1.5px -1.5px 0 #000,   
        -1.5px 1.5px 0 #000,  
        1.5px 1.5px 0 #000;  
}

#boxLeftDrop .container{
    height: 84%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container .sections{
    height: 80px;
    width: 100%;
    background-color: rgba(228, 228, 228, 0.295);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.329);
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container .sections h2{
    position: absolute;
    top: -13px;
    left: 30px;
    font-size: 24px;
    color: white;
    text-shadow: 
        -1.5px -1.5px 0 #000,  
        1.5px -1.5px 0 #000,   
        -1.5px 1.5px 0 #000,  
        1.5px 1.5px 0 #000;  
}

.icon-container{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.textoinf, .textosup{
    z-index: 2;
    color: white;
    text-shadow: 
        -1.5px -1.5px 0 #000, 
        1.5px -1.5px 0 #000,  
        -1.5px 1.5px 0 #000, 
        1.5px 1.5px 0 #000;  
}

.icon-container .textosup p{
    font-size: 14px;
}

.icon-container .textoinf p{
    font-size: 17px;
}

.icon-container img{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10%;
    z-index: 1;
}

.icon-container #vales{
    width: 40px;
    height: 35px;
}

.icon-container .pin{
    width: 40px;
    height: 30px;
}

.icon-container #spray{
    width: 30px;
    height: 40px;
}

.icon-container #hyper{
    width: 33px;
    height: 40px;
}

/* RARO */

.container #recursoRaro{
    height: 200px;
    display: flex;
    flex-direction: column;
}

/* MITICO */

.container #visualMitico{
    height: 140px;
    display: flex;
    flex-direction: column;
}

.container .separar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.parteBaixoMitico{
    width: 100%;
    display: flex;
    justify-content: space-between;
}